<!-- component -->
<footer class="bg-[#0066FF]">
    <div class="max-w-screen-xl px-4 py-16 mx-auto sm:px-6 lg:px-8">
      <div class="grid grid-cols-1 gap-8 lg:grid-cols-3">
        <div>
        <h1 class="logo-font text-white">Eldorado</h1>
          <p class="max-w-xs mt-4 text-sm text-gray-200">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, accusantium.
          </p>
          
        </div>
        <div class="grid grid-cols-1 gap-8 lg:col-span-2 sm:grid-cols-2 lg:grid-cols-4">
          <div class="mx-auto text-center">
            <p class="font-medium text-white">
              Company
            </p>
            <nav class="flex flex-col mt-4 space-y-2 text-sm text-gray-200">
              <a class="hover:opacity-75" href> About </a>
              <a class="hover:opacity-75" href> Meet the Team </a>
              <a class="hover:opacity-75" href> History </a>
            </nav>
          </div>
          <div class="mx-auto text-center">
            <p class="font-medium text-white">
              Services
            </p>
            <nav class="flex flex-col mt-4 space-y-2 text-sm text-gray-200">
              <a class="hover:opacity-75" href="https://www.freepik.com/free-vector/pattern-about-shopping_981345.htm#query=shopping%20background&position=0&from_view=keyword">Image by 3ab2ou</a>
              <a class="hover:opacity-75" href="https://www.freepik.com/free-vector/spot-light-background_1537619.htm#query=shopping%20background&position=10&from_view=keyword">Image by macrovector</a>
              <a class="hover:opacity-75" href="https://www.freepik.com/free-vector/big-hand-holding-gift-boxes-hands-around-packages-with-presents-flat-vector-illustration-celebration-birthday-holidays-anniversary-concept-banner-website-design-landing-web-page_26921508.htm#query=shopping%20background&position=22&from_view=keyword#position=22&query=shopping%20background">Image by pch.vector</a>
              <a class="hover:opacity-75" href="https://www.freepik.com/free-vector/tiny-people-background-gift-boxes-flat-vector-illustration-regular-customers-clients-getting-bonuses-purchases-receiving-discount-special-promotions-loyalty-program-reward-concept_28480877.htm#query=shopping%20background&position=25&from_view=keyword#position=25&query=shopping%20background">Image by pch.vector</a>
              <a class="hover:opacity-75" href="https://www.freepik.com/free-vector/valentines-day-hearts-pattern-banner-design_22120050.htm#query=heart%20background&position=29&from_view=search&track=sph">Image by starline</a>
            </nav>
          </div>
          <div class="mx-auto text-center">
            <p class="font-medium text-white">
              Helpful Links
            </p>
            <nav class="flex flex-col mt-4 space-y-2 text-sm text-gray-200">
              <a class="hover:opacity-75" href> Contact </a>
              <a class="hover:opacity-75" href> FAQs </a>
              <a class="hover:opacity-75" href> Live Chat </a>
            </nav>
          </div>
          <div class="mx-auto text-center">
            <p class="font-medium text-white">
              Legal
            </p>
            <nav class="flex flex-col mt-4 space-y-2 text-sm text-gray-200">
              <a class="hover:opacity-75" href> Privacy Policy </a>
              <a class="hover:opacity-75" href> Terms &amp; Conditions </a>
              <a class="hover:opacity-75" href> Returns Policy </a>
              <a class="hover:opacity-75" href> Accessibility </a>
            </nav>
          </div>
        </div>
      </div>
      
    </div>
    <p class="my-5 text-xs text-gray-200 text-end">
      © 2022 Emil Rahimov
    </p>
  </footer>
